export MIX_ENV=prod

export DATABASE_URL="postgresql://blockscout:blocksc"
export ECTO_SSL_MODE=disable

export SECRET_KEY_BASE="AvW+vfq+x1tpoNjWLn01B0i"

export ETHEREUM_JSONRPC_VARIANT=geth
export ETHEREUM_JSONRPC_HTTP_URL="http://127.0.0.1:8000"
export ETHEREUM_JSONRPC_TRACE_URL="http://127.0.0.1:8000"
export ETHEREUM_JSONRPC_WS_URL="ws://127.0.0.1:9251"

export CHAIN_ID=1919454
export COIN=CPH
export COIN_NAME=Cypherium
export NETWORK="Cypherium"
export SUBNETWORK="Cypherium Testnet"

export API_V2_ENABLED=true
export PORT=3001

export BLOCKSCOUT_HOST=exp.make-cph-great-again.community
export BLOCKSCOUT_PROTOCOL=https

export DISABLE_EXCHANGE_RATES=true

# Docker microservices を使わないので最初はOFF
export MICROSERVICE_SC_VERIFIER_ENABLED=false
export MICROSERVICE_VISUALIZE_SOL2UML_ENABLED=false
export MICROSERVICE_SIG_PROVIDER_ENABLED=false

# Cypherium trace/debug RPC format is not fully compatible with Blockscout v11 internal tx importer yet.

# Reduce DB pressure for small VPS/manual deployment
export POOL_SIZE=5
export POOL_SIZE_API=5
export DATABASE_EVENT_POOL_SIZE=2

export INDEXER_CATCHUP_BLOCKS_BATCH_SIZE=2
export INDEXER_CATCHUP_BLOCKS_CONCURRENCY=1
export INDEXER_BLOCK_REWARD_BATCH_SIZE=2
export INDEXER_BLOCK_REWARD_CONCURRENCY=1
export INDEXER_COIN_BALANCES_BATCH_SIZE=10
export INDEXER_COIN_BALANCES_CONCURRENCY=1
export INDEXER_DISABLE_INTERNAL_TRANSACTIONS_FETCHER=true

export CORS_ORIGIN="https://exp.make-cph-great-again.community"
export API_V2_CORS_ORIGIN="https://exp.make-cph-great-again.community"
